/* Container holding the image and the text */
.container1 {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anh {
  filter: brightness(50%);
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #333;

  text-decoration: none;

  text-align: center;
  border-style: solid;
  border-color: whitesmoke;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #333;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 200px;
  font-style: normal;
  color: black;
  align-items: center;
}
.seet {
  font-size: 10px;
}
.grid1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow: hidden;
  border-style: solid;
  border-color: whitesmoke;
}

.nav1 {
  color: #333;

  text-align: center;
  text-decoration: none;
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  color: black;
  line-height: 30px;
  background-color: #ddd;
  margin: 40px;
}
.sss {
  line-height: 20px;
  margin: 20px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 200px;
  font-style: normal;
  color: black;
}
.left {
  border-style: solid;
  border-left: #ddd;
  border-bottom: #ddd;
  border-top: #ddd;
  text-align: left;
  border-color: grey;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 200px;
  font-style: normal;
  color: black;
}
.grid3 {
  display: grid;
  grid-template-columns: 30% 30% 30%;

  grid-gap: 20px;
  text-align: center;
  margin: 10%;
}
.lineup {
  border-style: solid;
  border-color: #ddd;
  color: #333;
}
.line {
  background-color: aqua;
  display: inline-block;
  height: 4px;
  margin-right: 10px;
  width: 40px;
}
.lineup2 {
  background: grey;
  display: inline-block;
  height: 4px;
  margin-right: 10px;
  width: 40px;
}

.grid4 {
  display: grid;
  grid-template-columns: 75% 25%;
  font-family: "Roboto", sans-serif;
  align-items: center;
  text-align: center;
  font-style: normal;
  color: black;
  margin: 10px;
}
.p {
  text-align: left;
  margin-left: 10px;
}
.center {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;

  border-style: solid;
  border-color: #199cdb;
  margin-bottom: -50%;
  margin-right: 2px;

  padding-left: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  color: aqua;
  border-color: aqua;
  margin: 10px;
}
.grid5 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.grid6 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}
.block {
  display: flex;
  text-align: left;
  border-style: solid;
  border-color: #d6c08d;
  border-top: #d6c08d;
  border-left: #d6c08d;
  border-bottom: #d6c08d;
  margin-bottom: 10px;
}
.light {
  color: grey;
  margin-left: 10px;
}
.block2 {
  display: flex;
  text-align: center;
}
.grid7 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: center;
  font-size: 17px;
}
.style {
  display: flex;
}
.width {
  width: 30%;
  height: 100px;
  border-style: solid;
  border-right: #333;
  border-top: #333;
  border-left: #333;
  text-align: left;
}
.submit-email {
  margin-top: 80px;
  text-align: center;
  align-items: center;
}
#more {
  display: none;
}
#a {
  display: none;
}
#b {
  display: none;
}
#c {
  display: none;
}
#d {
  display: none;
}
#e {
  display: none;
}
#f {
  display: none;
}
#png {
  width: 100%;
}
#btn1 {
  display: none;
}
#btn3 {
  display: none;
}
#btn5 {
  display: none;
}
#btn7 {
  display: none;
}
#btn9 {
  display: none;
}
#btn11 {
  display: none;
}
#content {
  display: none;
  text-align: center;
  align-items: center;
}
#content1 {
  display: none;
  text-align: center;
  align-items: center;
}
#content2 {
  display: none;
  text-align: center;
  align-items: center;
}
#content3 {
  display: none;
  text-align: center;
  align-items: center;
}
#content4 {
  display: none;
  text-align: center;
  align-items: center;
}
#content5 {
  display: none;
  text-align: center;
  align-items: center;
}
.col {
  padding: 0px;
}
.project img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.project {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.project-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.project-details span {
  background-color: #ffd700;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 0.9em;
}
